body{
    background-size: 800px;
    background-position: center;
    background-color: lightblue;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top:30px;
}

h1{
    border-radius: 150px;
    text-decoration-color: red;
    background-color: aqua;
}

#status , #number_of_objects
{
    font-size: 18px;
}